extends layout

block content
  h1 Manage Experiences
  form(action="/admin/experiences/add", method="POST")
    input(type="text", name="title", placeholder="Title", required)
    input(type="text", name="description", placeholder="Description", required)
    input(type="number", name="order", placeholder="Order", required)
    button(type="submit") Add Experience

  ul
    each exp in experiences
      li
        strong= exp.title
        |  - #{exp.description}
        form(action=`/admin/experiences/delete/${exp._id}`, method="POST")
          button(type="submit") Delete
